<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shopping Bag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E0823D81CB5D72F00804F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0823EC1CB5D72F00804F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0823F71CB5D73000804F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
